doctype html

html
  head
    = javascript_include_tag "influxdb"

    coffee:
      console.log("testing")

      influxdb = new InfluxDB({
        "host": "localhost",
        "port": "8086",
        "username": "root",
        "password": "root",
        "database": "foo"
      })

      influxdb.showDatabases().then (response) ->
        console.log(response)

      influxdb.write("cpu", values, tags)

  body


